.photo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    /* height: 100%; */
    min-height: 500px;
    /* width: 100%; */
}

.photo-container{
    background-color: white;
    margin: 20px 15px;
    /* height: auto; */
    border: 1px solid rgba(var(--b6a,219,219,219),1);

    display: grid;
    grid-template-rows: 300px 50px 60px;

    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
}

.photo-title{
    margin-top: 7px;
    font-family: 'Bebas';
    font-size: 45px;
    margin-left: 12px;
    color: #5852c8
}

.photo-box{
    width: 100%;
    height: 100%;
    /* margin: 7px; */
    background-color: #676eb0;
}

.photo-box > img {
    width: 100%; /* width of container */
    height: 100%; /* height of container */
    object-fit: cover;
    /* object-position: 20% 10px;  */
    /* border: 5px solid black; */

    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
}

.photo-desc{
    font-family: 'Kayak';
    margin: 7px 13px 10px;
    display: grid;
    font-size: 15px;
    height: 100%;
}