.photo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    margin-bottom: 10px;
    min-height: 500px;
}

.photo-container{
    background-color: white;
    margin: 15px;
    /* height: auto; */
    border: 1px solid rgba(var(--b6a,219,219,219),1);

    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);

    transition: all .2s ease-in;
}

.photo-title{
    margin-top: 7px;
    font-family: 'Bebas';
    font-size: 2.7em;
    overflow-x: hidden;
    margin-left: 12px;
    color: #5852c8;
    transition: all .1s ease-in;

}

.photo-box{
    width: 100%;
    height: 100%;
    /* margin: 7px; */
    background-color: #676eb0;
}

.photo-box > img {
    width: 100%; /* width of container */
    height: 100%; /* height of container */
    object-fit: cover;
    /* object-position: 20% 10px;  */
    /* border: 5px solid black; */

    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.08);
}

.photo-desc{
    font-family: 'Kayak';
    margin: 0px 13px 10px;
    display: grid;
    font-size: 15px;
}

.photo-box {
    cursor: pointer;
    height: 300px; /* Modify this according to your need */
    overflow: hidden; /* Removing this will break the effects */
  }
/* Quick-zoom Container */
.photo-box--quick-zoom img {
    transition: transform .5s ease;
  }
  
/* The Transformation */
.photo-box--quick-zoom:hover img {
  transform: scale(1.2);
}

.post-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10%;
    background-color: rgba(0,0,0,0.15);
    z-index: 6;
    transition: all 2s ease-in-out;
}

.photo-modal-container{   
  z-index: 6;
}

.photo-modal-box{
    height: 450px;
}

.photo-modal-box > img {
    width: 100%; /* width of container */
    height: 100%; /* height of container */
    object-fit: contain;
    /* object-position: 20% 10px;  */
    /* border: 5px solid black; */
}

.photo-header{
  display: grid;
  grid-template-columns: 80% 20%;
  position: relative;
}

/* HEARTT!!! */


.heart-btn {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 15px;
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
  }

  [for="heart"] {
    color: #aab8c2;
    cursor: pointer;
    font-size: 1.7em;
    align-self: center;  
    transition: color 0.2s ease-in-out;
    text-align: center;
  }
  
  [for="heart"]:hover {
    color: grey;
  }
  
  [for="heart"]::selection {
    color: none;
    background: transparent;
  }
  
  [for="heart"]::moz-selection {
    color: none;
    background: transparent;
  }
  
  .heart-btn:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
  }
  