*
{
    margin: 0;
    padding: 0;
}

html{
  display: block;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

main{
  position: relative;
  /* top: 54px; */
  height: 100%;
  max-width: 925px;
  margin: auto;
  align-items: center;
}

@font-face {
  font-family: 'Kayak';
  src: local('Kayak'), url(./fonts/KayakSansRegular.otf) format('opentype');
}

@font-face {
  font-family: 'Bebas';
  src: local('Bebas'), url(./fonts/BebasNeue-Regular.otf) format('opentype');
}
