*
{
    margin: 0;
    padding: 0;
}

html{
  display: block;
  text-rendering: optimizeLegibility;
  transition: all .1s ease-in;
}

body {
  margin: 0;
}

main{
  position: relative;
  /* top: 54px; */
  height: 100%;
  max-width: 925px;
  margin: auto;
  align-items: center;
}

@font-face {
  font-family: 'Kayak';
  src: local('Kayak'), url(./fonts/KayakSansRegular.otf) format('opentype');
}

@font-face {
  font-family: 'Bebas';
  src: local('Bebas'), url(./fonts/BebasNeue-Regular.otf) format('opentype');
}

@media screen and (max-width: 760px) {
  body::after {
    content: "this site \ais not viewable\a on mobile/ipad.\a\a check it out\aon your pc\a\a- gio :>";
    line-height: .75em;
    display: block;
	  white-space: pre;
    font-family: Kayak;
    font-size: 2.8em;
    position: fixed;
    padding-top: 20px;
    padding-left: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(221, 221, 221);
    z-index: 10;
  }
}